- var dir = {js: './js', css: './css', vendor: {js: './vendor/js', css: './vendor/css'}}
doctype html
html
	head
		meta(charset="UTF-8")
		title マスコットアプリといえば伺かという想いを伝えてゆきたい。
		link(rel="stylesheet", href="#{dir.css}/index.css")
		meta(name="viewport", content="width=device-width, target-densitydpi=low-dpi, initial-scale=0.5")
		script(src="#{dir.vendor.js}/es6-shim.js")
		script(src="#{dir.vendor.js}/bluebird.js")
		script(src="#{dir.vendor.js}/zepto.js")
		script(src="#{dir.vendor.js}/underscore.js")
		script(src="#{dir.vendor.js}/encoding.min.js")
		script(src="#{dir.vendor.js}/surfaces_txt2yaml.js")
		script(src="#{dir.vendor.js}/shiorijk.js")
		script(src="#{dir.vendor.js}/WMDescript.js")
		script(src="#{dir.vendor.js}/jszip.min.js")
		script(src="#{dir.vendor.js}/eventemitter2.js")
		script(src="#{dir.vendor.js}/XHRProxy.min.js")
		script(src="#{dir.vendor.js}/Nar.js")
		script(src="#{dir.vendor.js}/SurfaceUtil.js")
		script(src="#{dir.vendor.js}/Surface.js")
		script(src="#{dir.vendor.js}/Shell.js")
		script(src="#{dir.vendor.js}/BalloonSurface.js")
		script(src="#{dir.vendor.js}/Balloon.js")
		script(src="#{dir.vendor.js}/Scope.js")
		script(src="#{dir.vendor.js}/Named.js")
		script(src="#{dir.vendor.js}/NamedManager.js")
		script(src="#{dir.vendor.js}/SakuraScriptPlayer.js")
		script(src="#{dir.vendor.js}/Ghost.js")
		script(src="#{dir.vendor.js}/NarLoader.js")
		script(src="#{dir.js}/Nanika.js")
		script(src="#{dir.js}/NanikaManager.js")
		script(src="#{dir.js}/NanikaStorage.js")
		script(src="#{dir.js}/Profile.js")
		script(src="#{dir.js}/demo.js")
	body
		header
			h1
				a(href="https://github.com/Narazaka/Ikagaka.demo.zunko", target="_blank") ずん子on伺か
			small Junko on Ukagaka Web Platform
		article
			section
				p 対応ブラウザ: IE10+, Chrome(Android版含む)
				p
					| このアプリ（？）はWeb上で伺かゴーストを動かす「
					a(href="http://ikagaka.github.io/Ikagaka.demo/", target="_blank") 如何か
					| 」で動いています。
				p スマートフォンでアプリ切り替え時とかにちょっとだけ立ち寄ってみて、つついてみてください。
				p かわいい。
			section.nar
				ul.nanikas